* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.app-wrapper {
  width: 50%;
  height: 100vh;
  border: 2px solid blue;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #F55A5A;
}

.logo-icon {
  width: 60px;
  height: 60px;
  padding: 20px;
}

.logo-title {
  padding-top: 30px;
  font-size: 30px;
}

.card-img {
  width: 130px;
  height: 175px;
}

.card-title {
  width: 40px;
  height: 10px;
}

.card-map {
  width: 326px;
  height: 40px;
}

.card-h2 {
  width: 326px;
  height: 40px;
}

.card-date {
  width: 319px;
  height: 11px;
  font-size: 15px;
}

.card-text {
  width: 470px;
  height: 45px;
}


.cards-item-2 {
}